<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
  <div class="header clearfix">
    <nav class="navbar navbar-default">
      <ul class="nav nav-pills pull-right" style="padding: 5px 10px 5px 10px;">
        {{#if user.local.username}}
          <li role="presentation"><a href="/photo/upload" class="upload-link btn btn-default">Upload</a></li>
          <li role="presentation"><a href="/users/account" class="account-link btn btn-default">Account</a></li>
          <li role="presentation">
            <form method="POST" action="/users/logout">
              <input id="logout" class="submitLink btn btn-default" type="submit" value="Logout" style="padding:10px 15px 10px 15px;">
            </form>
          </li>
        {{else}}
          <li role="presentation"><a id="login" href="/users/login" class="btn btn-default">Login</a></li>
          <li role="presentation"><a id="register" href="/users/register" class="btn btn-default">Sign Up</a></li>
        {{/if}}
      </ul>
      <h3 class="col-md-3"><a style="text-decoration: none;" href="/" class="text-muted">Gains</a></h3>
    </nav>
  </div>
  <div class="container">
    <div class="flash-messages">
      {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}}
    </div>

    {{{body}}}

    <footer class="footer">
      <hr size="4"/>
      <p>&copy; 2017 Gains</p>
    </footer>
  </div>
</body>
